.side-slide {
  display: inline-block;
  color: hsl(var(--primary));
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide 0.5s forwards;
}

@keyframes sideSlide {
  0% {
    color: hsl(var(--primary));
  }

  60% {
    transform: translate(20px, 0) scale(1);
    color: hsl(var(--primary));
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: hsl(var(--secondary));
  }

  99% {
    transform: translate(0) scale(1.2);
    color: hsl(var(--secondary));
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: hsl(var(--primary));
  }
}
